services:
  astro-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${IMAGE_NAME}:latest
    container_name: ${CONTAINER_NAME}
    ports:
      - "8080:80"  # TODO: Remember to change 3001 to 80
    restart: unless-stopped
    networks:
      - local
      - traefik_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.astro-app.rule=Host(`blog.thein3rovert.dev`)"
      - "traefik.http.routers.astro-app.entrypoints=websecure"
      - "traefik.http.routers.astro-app.tls=true"
      - "traefik.http.routers.astro-app.tls.certresolver=godaddy"
      - "traefik.http.services.astro-app.loadbalancer.server.port=80" # INFO: Nginx runs on 80

networks:
  traefik_proxy:
    external: true
  local:
    driver: bridge
