---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<div class="text-l space-y-4 leading-relaxed">
			<p class="mb-4">Hi, I'm Samad</p>

			<p class="mb-4">
				I am a technology and GNU/Linux enthusiast currently based in London. My journey into tech
				began in the mid-2000s at my uncle's house, watching him learn HTML and CSS. I was
				fascinated by it, and he decided to teach me a few things and introduced me to W3Schools.
				Now he's a software engineer, and I am soon to be one as well.
			</p>

			<p class="mb-4">
				Ever since then, my curiosity has never ended. I am always open to learning new things
				wherever I can and enjoy reviving old tech destined for the graveyard—or at least the trash
				can.
			</p>

			<p class="mb-4">
				Currently, I work as a crew member at McDonald's and also part-time as a middle school and
				high school teacher, teaching computing to younger students. I am also a student at Brunel
				London University studying... guess?
			</p>

			<p class="mb-4">
				That being said, I am super enthusiastic about technology, programming, and homelabbing.
				Since discovering Linux, I’ve been on the path to free and open-source enlightenment through
				things like "Arch Linux," "NixOS," "Tiling Window Managers," the "Terminal," and "Vim."
			</p>

			<p class="mb-4">
				My other hobbies (in no particular order) include:
				<ul>
					<li>Running (short distance)</li>
					<li>Hiking (so I can touch grass every now and then)</li>
					<li>Camping (with tents, campfires, and s'mores)</li>
					<li>Gaming (sometimes...)</li>
				</ul>
			</p>
		<!-- </div>
		Clone or fork my <a
			class="cactus-link inline-block"
			href="https://github.com/thein3rovert"
			rel="noreferrer"
			target="_blank">repo</a
		> if you like me!
	</div> -->
</PageLayout>
