---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
	<div class="space-y-4 leading-relaxed text-l">
		<p class="mb-4">
			Hi, I'm thein3rovert. Welcome to by technical Blog, I am new to this so i will start by
			clarifying a few things, I am not so good at writing both technical blog and normal blog, my
			English is not so good but okay to some extent.
		</p>

		<p class="mb-4">
			I don't plan to make this blog look professional. My main aim is to share my idea straight from my head and from what have learnt
			and know. I am always down to learn something new so feel free to educate me on things i could
			be doing better.
		</p>

		<p class="mb-4">
			My goal for this blog in addition to what i mentioned above is to give out to
			the technical community who are constantly giving to me and helping my improve in my skills
			everyday and help grow the tech community. I am not an expert or professional in anything but
			if you find my blogs, ideas and tips useful, let me know.
		</p>

		<p class="mb-4">
			I have encounter a lot of problems and issues relating to Programming, Operating System, Frameworks, Designs and so much more.
			What will bring me joy is sharing my idea and thought process on how I solve these issues, the
			resources that help me and other relating things.
		</p>

		<p class="mb-4">
			I plan to make this blog as informative as I can, making sure you guys to find it easy to understand my thought process toward countering
			complex problems, I hope to also connect with other people like me interested in things they
			find interesting and are willing to share and grow with me, I am open to everybody.
		</p>

		<p class="mb-4">
			Over these past years, I've gone through certain experience in life that prevent me putting myself out in
			the world and this blog a stepping stone for me to overcome that, I hope to defeat every fear
			i have so i can become the best version of myself and I hope to bring you guys along on the
			journey.
		</p>
	</div>
		Clone or fork my <a
			class="cactus-link inline-block"
			href="https://github.com/chrismwilliams/astro-cactus"
			rel="noreferrer"
			target="_blank">repo</a
		> if you like me!
	</div>
</PageLayout>
