---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="blinking-title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<div class="text-l space-y-4 leading-relaxed">
			<p class="mb-4">Hi, I'm Samad</p>

			<p class="mb-4">
				Actually, this is my fourth time writing my "About Me"... mostly because I'm not entirely
				sure who I am. I change a lot, and sometimes I even forget myself.
			</p>

			<p class="mb-4">
				But here are a few things that don't change: I'm an introvert... and sometimes an
				extrovert... yeah, it's called a borrowed personality. Haha.
			</p>

			<p class="mb-4">
				I eat, sleep, and breathe technology. I genuinely can't survive a day without seeing,
				feeling, or interacting with some kind of gadget. My journey started when I was 12, when my
				uncle introduced me to the one and only HTML. He was learning to become a software engineer
				at the time, and I was completely fascinated by the idea that machines could do what you
				tell them to... through code! I still remember the feeling when I created my first Hello
				World. I was hooked.
			</p>

			<p class="mb-4">
				Since then, my curiosity has never stopped. I'm always eager to explore new programming
				languages, software, frameworks...anything tech-related.
			</p>

			<p class="mb-4">
				<s
					>Currently, I work as a crew member at McDonald's and part-time as a computing teacher for
					middle and high school students. I'm also a student at Brunel University London,
					studying... well, guess what?</s
				>
			</p>

			<p class="mb-4">
				Recently, I stumbled into the world of Linux. For someone as curious as me, it's been both
				the worst and the best mistake I've made... I've become a full-time tinkerer, proudly
				holding an unofficial certification in "breaking stuff and automating everything." 😂
			</p>

			<p class="mb-4">
				A few of my hobbies (in no particular order):
				<ul>
					<li>Running (short distances... not a marathoner!)</li>
					<li>Hiking (gotta touch grass now and then)</li>
					<li>Camping (tents, campfires, and s'mores... yes please)</li>
					<li>Gaming (when life allows)</li>
				</ul>
			</p>
			<!-- </div>
		Clone or fork my <a
			class="cactus-link inline-block"
			href="https://github.com/thein3rovert"
			rel="noreferrer"
			target="_blank">repo</a
		> if you like me!
	</div> -->
		</div>
	</div></PageLayout
>
