---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Here is the languages i care about (test)",
	title: "Code",
};
---

<!-- TODO: Change color for cactus link and inline block, colur needs to remain same -->
<PageLayout meta={meta}>
	<h1 class="title mb-6">Languages</h1>
	<div>
		<!-- <h2 id="languages">Languages</h2> -->
		<p class="flex items-center gap-4 py-2 text-lg font-bold">
			<a
				href="https://github.com/alyraffauf?tab=repositories&q=&type=&language=ruby&sort="
				class="text-green-600 hover:text-green-800">JAVA</a
			>
			::
			<a
				href="https://github.com/alyraffauf?tab=repositories&q=&type=&language=ruby&sort="
				class="text-green-600 hover:text-green-800">NIX</a
			>
			::
			<a
				href="https://github.com/alyraffauf?tab=repositories&q=&type=&language=ruby&sort="
				class="text-green-600 hover:text-green-800">HTML</a
			>
			::
			<a
				href="https://github.com/alyraffauf?tab=repositories&q=&type=&language=ruby&sort="
				class="text-green-600 hover:text-green-800">CSS</a
			>
		</p>
		<!-- Need to add paddi -->
		<hr pt-4 />

		<h2 id="cool-stuff" class="group mb-4 pt-4 text-xl font-bold">
			Cool Stuff
			<a
				class="hanchor opacity-0 group-hover:opacity-100 hover:text-gray-600"
				href="#cool-stuff"
				aria-label="Anchor">#</a
			>
		</h2>
	</div>
	<!-- Things i want to add -> Cloud server setup, proxmox nixos setup -->
	<ul class="space-y-4">
		<li>
			<a
				href="https://github.com/thein3rovert/nixified-gruvbox-factory"
				class="cactus-link inline-block font-bold text-green-600">nixified-gruvbox-factory</a
			> :: <a
				target="_blank"
				href="https://nixos.org/"
				class="cactus-link inline-block text-green-600 hover:text-green-800">Gruvbox Factory CLI</a
			> tool for NixOS, allowing users to easily convert images to use the eye-friendly Gruvbox color scheme
		</li>

		<!--
		<li class="rounded p-2 hover:bg-gray-50">
			<a
				href="https://github.com/alyraffauf/slategreen"
				class="cactus-link inline-block font-bold text-green-600">slategreen</a
			> :: Developer-centric cloud-native OS based on <a
				href="https://fedoraproject.org/"
				class="cactus-link inline-block font-bold text-green-600 hover:text-green-800">Fedora</a
			> and <a href="https://github.com/alyraffauf/ugreen" class="text-green-600 hover:text-green-800"
				>ugreen</a
			>.
		</li> -->
	</ul>

	<p>
		Clone or fork my <a
			class="cactus-link inline-block"
			href="https://github.com/chrismwilliams/astro-cactus"
			rel="noreferrer"
			target="_blank">repo</a
		> if you like me!
	</p>
</PageLayout>
